# Production: https://people.thegeekonomy.com/api/recruitment/closers-fellowship/
# Local:      http://10.0.0.216:8000/api/recruitment/closers-fellowship/
HRMS_API_URL=http://10.0.0.216:8000/api/recruitment/closers-fellowship/
HRMS_API_KEY=YOUR_API_KEY
